.profile__edit-button {
    cursor: pointer;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 18px;
    background-image: url('../../../images/profile__edit.svg');
    transition: opacity 0.3s;
}

.profile__edit-button:hover {
    opacity: 0.6;
}


@media screen and (max-width: 667px) {
    .profile__edit-button {
        margin-left: 10px;
        width: 18px;
        height: 18px;
    }
}