.profile__title {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 48px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 294px;
    margin: 0;

}


@media screen and (max-width: 667px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
    }
}