.elements {
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    justify-content: center;
    margin-top: 48px;
    margin-bottom: 67px;
}

@media screen and (max-width: 595px) {
    .elements {
        margin-top: 36px;
        margin-bottom: 48px;

    }
}