.element__image {
    cursor: pointer;
    width: 282px;
    height: 282px;
    object-fit: cover;
    transition: all 0.3s;
}

.element__image:hover {
    filter: blur(2px) drop-shadow(0px 0px 0px black);
}