.error {
    font-size: 12px;
    line-height: 15px;
    color: #ff0000;
    font-weight: 400;
    margin-right: auto;
    display: block;
    visibility: hidden;
    margin: 0;
    margin-top: 5px;
}