.element__like {
    cursor: pointer;
    width: 22px;
    height: 19px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url('../../../images/like.svg');
    transition: opacity 0.3s;
}

.element__like:hover {
    opacity: 0.5;
}